@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #570100;
  color: #FFD08E;
  font-family: "Roboto", sans-serif;
  z-index: -500;
  overflow: visible; 
  background-image:none
}

h2,
h1 {
  font-family: "Noto Serif", serif;
  padding: 0; margin: 0; 
}

h1 {
  font-size: 10vh;
  margin-left: 2%;
}

img {
  z-index: 1;
  border-radius: 20px;
  border: 5px solid #FFD08E;
}

.navphone img { 
  border: none; 
}